* {
    /*border: solid 1px red;*/
    padding: 5px;
    margin: 5px;
    text-align: center;
}
body {
    margin: 100px 300px auto;
    border: solid 1px rgb(196, 193, 193);
    border-radius: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px rgb(196, 193, 193);
    border-radius: 10px;

}

.results {
    display: flex;
    justify-content: center;
    padding: 20px;

}



.display_selection {
    display: flex;
    justify-content: center;
    padding: 20px;

}

button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(86, 80, 145);
    color: white;
    font-size: 20px;
}

.comp_choice,
.human_choice {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 100px;
    min-height: 60px;
    background-color: rgb(241, 220, 241);
    border-radius: 5px;
    font-size: 30px;
    border:solid 1px rgb(196, 193, 193);
}

.selection_message {
    background-color: rgb(236, 232, 232);
    border-radius: 5px;
}

#human_points,
#comp_points {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    border:solid 1px rgb(196, 193, 193);
    background-color: rgb(241, 220, 241); 
    min-width: 100px;

}
.human_choice,
#human_points {
    background-color: rgb(218, 173, 250);
}

.comp_choice,
#comp_points {
    background-color: rgb(192, 245, 206);
}

#msg_1 {
    font-size: 30px;

}